language: node_js
node_js: 
  - "stable"
cache:
  directories:
    - "node_modules"
before_script:
  - npm i -g yarn
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - npm run build
before_deployment:
  - cd dist
deploy:
  provider: npm
  email: "lukas.spirig@gmail.com"
  api_key: "$NPM_TOKEN"
  skip_cleanup: true
  # TODO: REMOVE FOR STABLE RELEASE
  tag: next
  on:
    tags: true