language: node_js
node_js: 
  - "stable"
cache:
  directories:
    - "node_modules"
deploy:
  provider: npm
  email: "lukas.spirig@gmail.com"
  api_key: "$NPM_TOKEN"
  skip_cleanup: true
  on:
    tags: true