trigger:
  branches:
    include:
    - master
    - feature/*
    - hotfix/*
  tags:
    include:
    - 'v*'

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: npm i -g yarn
  displayName: Install yarn

- script: npm ci
  displayName: npm ci

- script: npm test
  displayName: Jest
  
- task: PublishTestResults@2
  condition: succeededOrFailed()
  inputs:
    testRunner: JUnit
    testResultsFiles: '**/junit.xml'

- task: PublishCodeCoverageResults@1
  inputs: 
    codeCoverageTool: Cobertura
    summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/*coverage.xml'
    
- script: npm run lint
  displayName: Linting

- script: npm run build:node
  displayName: Build package

- script: npm run build:go
  displayName: Build go cli
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))

- script: npm pack
  displayName: npm pack dist
  workingDirectory: '$(System.DefaultWorkingDirectory)/dist'
  condition: and(succeeded(), not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v')))

- task: Npm@1
  displayName: Publish dist to npm
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
  inputs:
    command: 'publish'
    workingDir: '$(System.DefaultWorkingDirectory)/dist'
    publishEndpoint: 'NPM-kyubisation'

- task: CopyFiles@2
  displayName: Prepare go cli files
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
  inputs:
    sourceFolder: $(Build.DefaultWorkingDirectory)/dist-go
    targetFolder: $(Build.ArtifactStagingDirectory)

- task: GitHubRelease@0
  displayName: Add go cli to GitHub release assets
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
  inputs: 
    gitHubConnection: GitHub-kyubisation
    repositoryName: kyubisation/angular-server-side-configuration
    action: edit
    tag: $(Build.SourceBranchName)
