name: Continuous Integration
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version-file: '.nvmrc'
      - run: yarn install --frozen-lockfile --non-interactive

      - name: 'Run eslint'
        run: yarn -s lint

  build-and-test-library:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version-file: '.nvmrc'
      - run: yarn install --frozen-lockfile --non-interactive


      - name: 'Build library'
        run: yarn build:lib
      - name: 'Test library'
        run: yarn test:lib

  build-and-test-cli:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version-file: '.nvmrc'
      - run: yarn install --frozen-lockfile --non-interactive
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go version

      - name: 'Build cli'
        run: yarn build:cli
      - name: 'Test cli'
        run: yarn test:cli
